<!DOCTYPE html>

<html>

<head>
    <title>help for you</title>
    <link rel="icon" href="/imj/Free_Sample_By_Wix (1).jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{Discribe}}</p>
    </div>
    {{>namedit}}
</body>

</html>