<!DOCTYPE html>

<html>

<head>
    <title>weather for you</title>
    <link rel="icon" href="/imj/Free_Sample_By_Wix (1).jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
            {{>header}}
            <p>use this page to get weather</p>
            <form>
                <input placeholder="Location">
                <button>Sertch</button>
            </form>

            <p id="mgma1"></p>
            <p id="magma2"></p>
    </div>
    {{>namedit}}
    <script src ="/js/app.js"></script>

</body>

</html>